@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 0;

}

h2{
    font-size: 35px;
    font-family:'Montserrat', sans-serif;
    color: black;
    margin-bottom: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
}

h3{
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    color:rgb(80, 79, 79);
      
}

li{
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    color:rgb(0, 0, 0); 
}

#single{
   position: absolute;
   left: 45%;
   margin: 0;
   margin-bottom: 2%
}
.suma{
    font-size: 25px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(185, 4, 4);
    margin-top: 1.5%;
}

.title{
    margin: 2rem 0rem;
    align-items: center;
    display: flex;
    justify-content: center;
    }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mobil{
    display: none !important;
    font-size: 15px;
    justify-content: left;

}
#spacing{
    padding-bottom:1.85%;
}
#pad{
    padding-bottom: 3%;
}
#jos{
    padding-bottom: 1.8%;
}
.mobil a{
    background-color: #3870f2;
    display: none !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    padding: 4% 15% 4% 15%;
    justify-content: center;
    margin-top: 1%
}

.mobil .next{
    display: none !important;
    background-color: white;
    padding: 2% 0 0 0;
    margin-right: 2%;
}
.mobil .back{
    display: none !important;
    background-color: white;
    padding: 2% 0 0 0;
    margin-left: 2%;
}

.mobil{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav {
    overflow: hidden;
    float: center;
    display: flex;
    text-align: center;
    width: 100%;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding-top: 2%;
    margin-top: -3%;

  }

  .topnav a {
    width: 100%;
    color:#3870f2;
    text-align: center !important;
    padding:3%;
    text-decoration: none;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    align-self: center;
  }

  .bara{
    background-color: #3870f2;
    overflow: hidden;
    float: center;
    display: flex;
    text-align: center;
    width: 100%;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding-top: 2.5%;
    margin-top: -3%;
  }

  .bara a {
    width: 100%;
    color: white;
    text-align: center !important;
    padding:2%;
    text-decoration: none;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    align-self: center;
  }

  section{
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      
  }
  #icon, #icon ~ span{
    display:inline-block;
    justify-content: left;
  }
  #icon {
      margin-right: 2%;
      width: 48px;
      
      margin-left: 2%;
  }
 
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#3870f2;
    color: white;
    font-weight: bold;}





  .dropdown{
      background-color:#daf0ff ;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      padding: 2%;
      display: flex;
      flex-direction: column;
      margin: 0 2% 0 2% ;
  }
 
  .dropdown li{
      padding-left: 2%;
      margin-bottom: 1%;
  }
  ul{
      list-style-type: none;
  }

  .faq{
      padding-bottom: 1rem;
      cursor: pointer;
  }
  .varianta{
      align-items: center;
      display: flex;
      margin: 0 2% 2% 2% ;
    
  }
 .raspuns{
     max-height: 0;
     overflow: hidden;
 }

.faq.active .raspuns{
    max-height: 500px;
}

.raspuns{
    transition: max-height 1.4s ease;
}

.faq.active svg{
   transform: rotate(180deg);
   animation: fade 1s ease-in-out;
}

svg{
    transition: transform .5s ease-in;
    margin-top: 1%;
    position: absolute;
    left: 95%;

}


.butoane{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.inapoi {
    font-size: 20px;
    background-color: #3870f2;
    border: solid 2px;
    border-radius: 15px;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
    justify-content: left !important;
    
    
}


.inainte{
    font-size: 20px;
    border: solid 3px #3870f2;
    border-radius: 15px;
    padding: 1%;
    text-decoration: none;
    color: #3870f2;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-right: 2%;
   
}

.inainte:hover{
    background-color: #3870f2;
    color: white;
    font-weight: 600;
    
    
}
 
.spatiu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#jos{
    padding-bottom: 1.7%;
}


@keyframes fade{
    from {
        opacity:0;
        transform: translateY(-10px)
    }
    to{
        opacity: 1;
        transform: translateY(0px)
    }
}
#box{
    margin-left: 1% !important;
    width: 30px;
    height: 30px;
    margin-right: 4% !important;
   
}
@media (min-width:786px) and (max-width: 1089px){
    #jos{
        padding-bottom: 3%;
    }
    #pad{
        padding-bottom: 5%;
    }
}
@media (min-width:1089px) and (max-width: 1363px){
    #jos{
        padding-bottom: 3%;
    }
    #pad{
        padding-bottom: 4.45%;
    }
}
@media (min-width:1363px) and (max-width: 1398px){
    #jos{
        padding-bottom: 3%;
    }
    #pad{
        padding-bottom: 4.45%;
    }
    #padding{
            padding-bottom: 3%;
    }
    #padds{
        padding-bottom: 4.3%
    } 
}
@media (min-width:1398px) and (max-width: 1422px){
    #jos{
        padding-bottom: 3%;
    }
    #pad{
        padding-bottom: 4.45%;
    }
    
    }


@media only screen and (max-width: 600px){
    .topnav{
        display: none;
    }
    .box{
        margin-left: 1% !important;
        width: 5px;
        height: 5px;
        margin-right: 4% !important;
    }
    .bara{
        display: none;
    }
    
    .mobil {
        display: flex !important;
    }
    .mobil a {
        display: flex !important;
    }
    .mobil .next {
        display: flex !important;
    }
    
    h3{
        font-size: 9px;
        margin-bottom: 2%;
    }
    h2{
        font-size: 15px;
        padding-bottom: 10%;
        padding-top: 5%;
    }
    svg{
        width: 25px;
    }
    #box{
        width: 40px;
        height: 40px;
    }
    .suma{
        font-size: 15px;
    }
    li{
        font-size: 10px;
    }
          
      }  
      .mobil .back {
        display: flex !important;}

    

    
  @media only screen and (max-width: 786px) {
.topnav{
    display: none;
}
.bara{
    display: none;
}
.mobil {
    display: flex !important;
}
.mobil a {
    display: flex !important;
}
.mobil .next {
    display: flex !important;
}
.mobil .back {
    display: flex !important;
    
}
h3{
    font-size: 10px;
    margin-bottom: 2%;
    margin-right: 5%
}

.box{
    margin-left: 1% !important;
    width: 10px;
    height: 10px;
    margin-right: 4% !important;
}

.box-big{
    width: 30px;
    height: 30px;
    margin-left: 1% !important;
    margin-right: 4% !important;
}

#icon{
    width: 36px;
    margin-left: 0;
}

h2{
    font-size: 25px;
    padding-bottom: 10%;
    padding-top: 7%;
}
svg{
    width: 25px;
}
#box{
    width: 20px;
    height: 20px;
}
.suma{
    font-size: 15px;
}
li{
    font-size: 10px;
}
.butoane{
       display: none;
}

  }

